-if @question.reward.present? && @question.reward.active
  #{t 'questions.reward.open'}
  = "+#{@question.reward.reputation}"
  reputation from
  = link_to @question.reward.created_by.name, user_path(@question.reward.created_by)
  ending in
  = distance_of_time_in_words(Time.now, @question.reward.ends_at)