%footer
  %nav
    %ul
      -if !current_group.footer.blank?
        = raw(current_group.footer)
      -else
        %li
          = link_to "#{t 'shared.layouts.footer.blog'}", 'http://blog.ricodigo.com/shapado'
        %li
          = link_to "#{t 'shared.layouts.footer.twitter'}", 'http://twitter.com/shapado'
        %li
          = link_to 'Identi.ca', 'http://identi.ca/shapado'
        %li
          = link_to 'Irc', 'irc://irc.freenode.org/shapado'
        %li
          = link_to "#{t 'shared.layouts.footer.chat'}", domain_url+'/chat'
        %li
          = link_to "#{t 'shared.layouts.footer.feedback'}", feedback_url, :class => "feedback", :id => "feedback"
        %li
          = link_to "#{t 'shared.layouts.footer.tos'}", tos_path
        %li
          = link_to "#{t 'shared.layouts.footer.privacy'}", privacy_path
  %p
    == #{t 'shared.layouts.footer.content'} #{link_to 'Creative Commons Attribution 3.0', 'http://creativecommons.org/licenses/by/3.0/'}
  %p
    == Powered by #{link_to 'Shapado', 'http://gitorious.org/shapado'} #{AppConfig.version}

  .feedback{:style => "display:none"}
    = render :partial => "welcome/feedback"
  = render "shared/layout/websocket"