- form_tag :action=> "create", :controller=> "devise/sessions", :class => "form" do
  .field
    = label_tag 'email', t(:email, :scope => "activerecord.attributes.user"), :class => "label"
    = text_field_tag 'email', @email, :class => "text_field"
  .field
    = label_tag 'password', t(:password, :scope => "activerecord.attributes.user"), :class => "label"
    = password_field_tag 'password', nil, :class => "text_field"
  .buttons
    = submit_tag t("sessions.new.log_in"), :class => "save"
