= form_tag new_user_session_path do
  .field
    = label_tag 'email', t(:email, :scope => "activerecord.attributes.user"), :class => "label"
    = text_field_tag 'user[email]'
  .field
    = label_tag 'password', t(:password, :scope => "activerecord.attributes.user"), :class => "label"
    = password_field_tag 'user[password]'
  .buttons
    %button #{t 'sessions.new.log_in'}
